#!/bin/bash

## don't override the following variables:
#
# NAME = service name used by init script (and name of this file)
# INSTALL_DIR = root installation path
#

# you may define the following variables:
# DESC = description used in output of init script
# SERVER = path to binary that runs the service
# PIDFILE = path to .pid file that init script will store
#
DESC="Governance Extension Service"

# you can define the following variables:
# PARAMS = parameters passed to $SERVER
# OUTFILE = path to a file to stdout redirection (/dev/null is default)
# LOGFILE = path to a file to set the log (/dev/null is default)
#
SERVER=$INSTALL_DIR/bin/busextension
PIDFILE=$INSTALL_DIR/data/$NAME.pid
OUTFILE=$INSTALL_DIR/data/$NAME.log
PARAMS=

# EMAIL = specifies an email address to be notified (default: root@localhost)"
EMAIL=$NAME@localhost
# CRASHBACKUP = save the service logs to new compressed files timestamped (values: true or false, default: false)
# CRASHBACKUP_DIR = path to store log files from last execution (default: $INSTALL_DIR/crashes)
# CRASHBACKUP_FILES = files to be saved before an automatic restart
CRASHBACKUP=true
CRASHBACKUP_DIR=$INSTALL_DIR/crashes
CRASHBACKUP_FILES="$OUTFILE $INSTALL_DIR/data/$NAME.db"

# you can define other commands here:
# example: export LUA_PATH="$INSTALL_DIR/config/validators/?.lua;;"
export OPENBUS_HOME=$INSTALL_DIR
export GOVERNANCE_CONFIG=$INSTALL_DIR/config/$NAME.cfg
